body {
    margin: 0;
    font-family: Cambria,Georgia,serif;
}

h2 {
    font-size: 2em;
    margin: 0;
}

p {
    margin: 0;
    font-size: 1.4em;
}


nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
  
nav li {
    text-align: right;
    padding: 2.4em;
}

nav a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.4em;
    color: white;
} 

nav ul li a:hover {
    color:rgb(177, 177, 177);
    transition: .3s all ease;
}

.menu-icon {
    display: none;
}


.hero {
    background-image: url(../images/ed-rojas-unsplash.jpg);
    min-height: 700px;
    background-size: cover;
    background-position: center;
}

.hero-content {
    color: white;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    margin-top:10%;
    font-size: 2.6em;
    padding-left: 20px;
}


.intro {
    min-height: 200px;
    text-align:center;
    color: rgb(26, 26, 26);
    background-color:rgb(230, 230, 230);
}

.intro-visuals{
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    transform: rotate(180deg);
    margin-right: 90px;
    padding-top: 300px;
}

.intro img {
    object-fit: contain;
    background-position: center;
}

.intro-pic2 {
    width: 40%;
    height: 90%;
    object-fit: cover;
    margin: auto;
    padding-top: 500px;
}

.intro-texts {
    position: absolute;
    top: 140%;
    left: 10%;
}
.tagline {
    padding-top: 30px;
    font-size: 3em;
}


.product { 
    min-height: 500px;
    background-color: rgb(226, 226, 226);
    display: flex;
    flex-direction: row;
}

.product-text {
    max-width: 50%;
    align-self: center;
    padding-right: 20px;
}

.other-microphones h3 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 80px;
}

.mic-img {
    width: 20%;
    height: 500px;
    object-fit: cover;
    margin: auto;

}

.gallery {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding-bottom: 200px;
}
  
.gallery img {
    width: 70%;
    height: 100%;
    object-fit: cover;
    margin: auto;
}


footer {
    background-color: black;
    min-height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

footer h6 {
    color: white;
    font-size: 1em;
    text-align: center;
}


@media screen and (max-width: 64em){
    .gallery{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 48em){
    .gallery {
        grid-template-columns: 1fr 1fr;
    }
    .footer {
        grid-template-columns: 1fr 1fr;
    }
    .product {
        display: flex;
        flex-direction:column;
    }
    .intro-visuals {
        margin: auto;
    }
    .intro-texts {
        display:flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 30em){ 
    .menu-icon {
        display: block;
    }
    nav {
        height: 50px;
        overflow: hidden;
    }
    .nav-expanded {
        height: auto;
        background-color: rgb(65, 65, 65);
    }
    nav li {
        flex-basis:100%;
        padding: 1em;
    }
    .hero-content {
        padding-top: 280px;
        font-size: 1.8em;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content:center;
    }
    .intro-pic2 {
        width: 90%;
        height: 90%;
        object-fit: cover;
        margin: auto;
    }
    .gallery {
        grid-template-columns: 1fr;
    }
    .footer {
        grid-template-columns: 1fr;
    }
} 